body {
	background: #edeff0;
}

.row-centered {
	text-align: center; 
}

.headline-row {
	  background: #333333;
	  padding-top: 5px;
	  padding-bottom: 5px;
}


#logo {
	color: white;
	padding-left: 1em;
	font-size: 1.5em;
} 

#dliLogoImg {
	float: left;
	margin-top: 1.3em;
	margin-right: 10px;
	margin-left: 10px;
}

.headline {
	text-decoration: underline;
	color: #3e474f;
	margin-top: 1em;
}


/*****************************
*  Cards
*****************************/

.card {
	background: white;
	border-radius: 5px;
	color: #5a6772;
}

.card button {
	margin-bottom: 1em;
}

.card h3 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: white;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card p {
	color: #5a6772;
}

.stain-solver {
	background-color: #e15258;
}

.tabs {
	background-color: #3079AB;
}

.courses {
	background-color: #c25975;
}

.fabricare {
	background-color: #53BBB4;
}

.forum {
	background-color: #7D669E;
}

.interviews {
	 background-color: #F9845B;
}



/*****************************
*  Button Style
*****************************/

.button-cog {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}


